
body {
    background-color: black;
	background-image: url("https://i.pinimg.com/originals/79/9d/92/799d9235f94578f3804e838c6991cf45.jpg");
    background-size: cover;
	font-size: 12pt;
	margin-left:0.5cm;
	margin-right:0.5cm
}


h1{
	color: white;
}


h3{
	color: white;
}


p{
	color: white;
	background: rgba(0, 0, 0, 0.4);
	font-size: 12pt;
}


ul{
	color: white;
	background: rgba(0, 0, 0, 0.4);
	font-size: 12pt;
}



.bg-1 {
      background-color: rgba(7,0,179,0.65);
      color: rgb(255, 255, 255);
    }



/* HOVER EFFECT 1*/
.btn {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: black;
  
  text-align: center;
  
  transition: 0.3s;
	animation-duration: 4s;
	animation-name: example;
	animation-iteration-count: infinite
}

.btn:hover {
  background-color: rgba(7,0,179,0.65);
  color: white;
}



/* HOVER EFFECT 2*/
.hovering {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: black;
  
  text-align: center;
  
  transition: 0.3s;
	
}

.hovering:hover{

	background-color: rgba(7,0,179,0.65);
	color: white;
}


/* HOVER EFFECT 3*/

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
}





/*CSS ANIMATION*/

@keyframes example {
  0%   {background-color:rgba(7,0,179,0.65); left:0px; top:0px;}
  25%  {background-color:rgba(0,232,228,0.73); left:200px; top:0px;}
  50%  {background-color:rgba(7,0,179,0.65); left:200px; top:200px;}
  75%  {background-color:rgba(81,232,0,0.59); left:0px; top:200px;}
  100% {background-color:rgba(7,0,179,0.65); left:0px; top:0px;}
}